html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.practice-1 {
	height: 90px;
	width: 100%;
	font-size: 2em;
}

#practice-2 {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

#practice-2 li {
	height: 30px;
	text-align: center;	
}

.btns {
	text-align: center;
}